a:hover {
    text-decoration: none!important;
}
/*.nav  li  a:hover, #bb4-logo a:hover, #bb4-sitename a:hover {
    text-decoration: none!important;
}*/
.dropdown-item {
    padding: .5rem 1.5rem;
}
.bb4-tabs {
    margin: 1rem 0;
}
#bb4-bottom h1, #bb4-bottom h2, #bb4-bottom h3, #bb4-bottom h4, #bb4-bottom h5,
#bb4-bottom h6, 
#bb4-footer h1, #bb4-footer h2, #bb4-footer h3, #bb4-footer h4, #bb4-footer h5, 
#bb4-footer h6 {
    color: #fff;
}
#bb4-content, #sidebar-right {
    padding: 0 1rem;
}
.bb4-region {
    width: 100%;
}
/*          tab and content read more               */
#block-bb4-content ul li a, #block-bb4-content .bb4-tab-label div a{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: transparent;
    background-image: none;
    border-radius: 1.5rem;
    border: solid 1px;
}

#block-bb4-content ul li a {
    padding: .375rem .75rem;
    color: #007bff;
    border-color: #007bff;
}

#block-bb4-content ul li a:hover {
    background-color: #007bff;
    color: #fff;
}
#block-bb4-content .bb4-tab-label {
    margin: .5rem 0;
}

#block-bb4-content .bb4-tab-label div {
    display: inline-block;
}

#block-bb4-content .bb4-tab-label a, #block-bb4-content .bb4-tab-label label {
    padding: .25rem .5rem;
}
#block-bb4-content .bb4-tab-label a {
    color: #dc3545;
    border-color: #dc3545;
}
#block-bb4-content .bb4-tab-label a:hover {
    color: #fff;
    background-color: #bd2130;
    border-color: #bd2130;
}
/*          tab and content read more end             */

/*    node content       */
.bb4-node-post {
    clear: both;
}
#block-bb4-content .views-row {
    padding: 1.75rem 0 1rem;
    border-bottom: solid 1px #868e96;
}
#block-bb4-content .views-row:first-child {
    padding: .25rem 0 1rem;
}
#block-bb4-content .views-row:nth-last-child(2){
    padding-top: 1rem;
    border-bottom: none;
}
.bb4-node-post, div[property="schema:text"] {
    margin-top: 1rem;
}
.bb4-node-post .field--type-image {
    text-align: center;
    margin: 0 1rem 1rem 0;
}
.node--view-mode-teaser .bb4-node-post > .field--type-image{
    float: left;
}
.bb4-node-post img {
    margin: .5rem;
    border-radius: .25rem;
}
/*    node content end   */

/*  block-branding */
.bb4-logo {
    float: left;
    margin: 15px 15px 0 0;
}
#bb4-sitename {
    display: inline-block;
    padding-top: 18px; 
}
/*  block-branding end  */

/*  main content      */
#main-content {
    padding: 0 0 2rem;
    clear: both;
}
/*    main content end    */

/*  header accound menu  */
.bb4-account-menu {
    list-style: none;
    padding-left: 0;
}
#bb4-header .bb4-account-menu {
    margin: 15px 0 0 10px;
    display: flex;
    justify-content: flex-end;
}
#bb4-header .bb4-account-menu li a{
    display: block;
    padding: .5rem 1rem;
}
#bb4-header .bb4-account-menu li a:hover {
    color: #007bff;
    border-radius: 5px;
}
/*  header accound menu end  */

/*  top nav  */
#bb4-top-nav {
    background-color: #fff;
    margin: 10px 0;
    border-bottom: solid 1px #e7e7e7;
}
#bb4-top-nav nav {
    float: left;
}
#bb4-top-nav .dropdown-menu .nav-link {
    padding: 1rem 1.5rem;
}
#bb4-top-nav .dropdown-menu .nav-item:not(:last-child) .nav-link{
    border-bottom: 1px solid #e7e7e7;
}
#bb4-top-nav .menu--main > li > a {
    display: block;
    padding: 1rem 2rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
#bb4-top-nav .menu--main > li > a:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: #007bff;    
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}
#bb4-top-nav .menu--main > li > a:hover:before {
    left: 0;
    right: 0;
}
/*#bb4-top-nav .menu--main .dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeInUp 0.4s;
}*/
/*#bb4-top-nav .menu--main > .nav-item > .dropdown-item:focus, 
#bb4-top-nav .menu--main > .nav-item > .dropdown-item:hover{
    background: #fff;
    color: #007bff;
}*/
#bb4-top-nav .menu--main .dropdown .dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
#bb4-top-nav .dropdown-menu {
    margin-top: 0;
    padding: 0;
    -webkit-animation: fadeInUpMenu 0.4s;
    animation: fadeInUpMenu 0.4
}
#bb4-top-nav .nav-item .nav-link{
    color: #212529;
}
#bb4-top-nav .nav-item .nav-link:hover, #bb4-top-nav .nav-item .nav-link:focus{
    color: #007bff;
}
#bb4-top-nav .nav-item .dropdown-menu .nav-link:hover, 
#bb4-top-nav .nav-item .dropdown-menu .nav-link:focus {
    background-color: #007bff;
    color: #fff;
}
@keyframes  fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
    }
}
/*  top nav end  */

/*      search block       */ 
#bb4-top-nav .search-block-form {
    float: right;
}
.search-block-form form{
    padding: .5rem 0 .5rem 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.search-block-form input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
}
.search-block-form input[type='search'] {    
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-block-form input[type='submit'] {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.search-block-form input[type='submit']:hover{
    background-color: #0069d9;
    border-color: #0062cc;
}
/*      search block       */ 

#bb4-bottom {
    color: #868e96;
    padding: 30px 0;
    background-color: #282828;
}
/*       bb4 footer         */
#bb4-footer {
    color: #868e96;
    padding: 1rem 0;
    background-color: #1d1d1d;
}
#bb4-footer div {
    margin: 0 auto;
}
#bb4-footer nav a {
    color: #868e96;
}
/*       bb4 footer end     */

/*       sidebar right        */

/*       sidebar right end    */

/*       comment           */
.comments {
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    display: table;
    vertical-align: top;
}
.comments > h2 {
    margin: 1rem 0;
}
.comments .comment-attr {
    display: table-cell;
    overflow: hidden;
    vertical-align: top;
    padding: 0 1.8rem 0 0;
}
.comments .indented {
    margin-left: 3rem;
}
.comments .field--type-image, .comments .field--type-image img {
    text-align: left;
    margin: 0;
}
.comments .comment-attr p {
    margin: .3rem 0;
    font-size: 1rem;
}
.comments .comment-attr .comment-time {
    font-size: .8rem;
}
.comments .comment-arrow {
    background: url(../img/arrow.gif) no-repeat 0 center transparent;
    height: 1.9rem;
    width: 1rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: -2.5rem;
    border-right: solid 1px #fff;
}
.comments .comment-text {
    padding: 1.8rem 1.5rem 1.5rem 1.5rem;
    border: solid 1px #d3d7d9;
    border-radius: 5px;
}
.comment-form .form-item, .comment-form .form-radios,
.comment-form .form-type-checkbox, .comment-form .form-select {
    margin-bottom: 1rem;
    overflow: hidden;
}
#edit-actions input {
    margin-right: .5rem;
}
.comment-form .form-item textarea, .comment-form .form-item input {
    width: 100%;
}
/*       comment end       */

/*     sidebar list       */
#sidebar-right .bb4-region > div, #sidebar-right .bb4-region > nav {
    margin: .5rem 0;
    padding: .5rem;
}
#sidebar-right h2, #sidebar-right .h2{
    margin-top: .7rem;
}
.item-list ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.item-list ul li{
    position: relative;
    display: block;
    padding: 0.75rem 0;
}
/*     sidebar list end   */

@media (max-width: 768px){
/*    top nav      */
#bb4-top-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: solid 1px #e7e7e7;
}
/*    top nav end  */
/*     top search        */
#bb4-top-nav .search-block-form {
    float: none;
}
#search-block-form {
    justify-content: center;
    padding-left: 0;
}
/*     top search end    */

/*     account menu      */
.bb4-account-menu {
    width: 100%;
}
/*     account menu end  */

/*    comment        */
.comments {
    margin-bottom: 2rem;
}
.comments .indented {
    margin-left: 0;
}
.comments .comment-attr{
    display: block;
    padding: 0;
    margin-bottom: .8rem;
}
.comments .comment-arrow {
    display: none;
}
.comment-attr article, .comment-attr .comment-mis {
    float: left;
}
.comment-attr article {
    padding: 5px 7px 0 0;
    
}
.comment-attr .comment-mis {
    padding: 5px 0 0 7px;
}
/*    comment end    */
}